.container {
  margin-top: 5rem;
  /* width: 80%; */
}

.inputText {
  background-color: white;
  border-radius: 5px;
  align-items: center;
  justify-content: space-between;
  margin: 5px 0;
  margin-right: 5px;
  padding-left: 10px;
  height: 40px;
  border: none;
  width: 360px;
  padding-right: 45px;
}

.messages {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 5px 0;
}

.myMessage,
.otherMessage {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 5px;
  /* align-items: center; */
  justify-content: space-between;
  margin: 5px 0;
  padding: 10px;
  width: 80%;
}

.form {
  position: relative;
}

.myMessage {
  text-align: right;
  align-self: flex-end;
  background-color: #b7ffa3;
}

.otherMessage {
  text-align: left;
  align-self: flex-start;
  background-color: #fdafaf;
}


.btnSend {
  height: 40px;
  width: 40px;
  position: absolute;
  right: 0;
  background-color: inherit;
  color: green;
  border: none;
  top: calc(50% - 40px/2);
  margin-right: 5px;
}

.form {
  display: flex;
  align-items: flex-end;
}

.element {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.title {
  display: flex;
  /* width: 100%; */
  font-size: 13px;
  text-align: left;
  /* border-radius: 5px; */
  /* text-align: center; */
  /* align-items: center; */
  /* justify-content: space-between; */
  /* margin: 5px 0; */
  padding: 15px 0;
}

.title span:first-child {
  margin-right: 25px;
}

.title span:last-child {
  margin-left: 90px;
}